<!DOCTYPE html>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>There Will Be Bugs</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/js")
	@RenderSection("scripts", required: false)
	<header>
		<div class="container">
			<div class="row">
				<div class="six columns">
					<h1>There will be bugs</h1>
				</div>
				<div class="two columns nav-links">
					<a href="/">Home</a>
				</div>
				<div class="two columns nav-links">
					<a href="/posts/archive">Archive</a>
				</div>
				<div class="two columns nav-links">
					<a href="/posts/new">New post</a>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		@if (!string.IsNullOrEmpty(Request.QueryString["s"]))
		{
			<div class="alert success u-full-width">
				<p><i class="material-icons">check_circle</i> @(string.Format("{0} created successfully", Request.QueryString["s"] == "1" ? "Post" : "Comment"))</p>
			</div>
		}

		@RenderBody()
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="six columns">&nbsp;</div>
				<div class="two columns nav-links">
					<a href="#">Twitter</a>
				</div>
				<div class="two columns nav-links">
					<a href="#">LinkedIn</a>
				</div>
				<div class="two columns nav-links">
					<a href="#">Email</a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
